<!DOCTYPE html>
<html lang="en">

<head th:insert="librerias::librerias">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Login</title>

</head>

<body>

	<header>

		<div th:insert="top::top"></div>


	</header>

	<div class="container mt-3">
		<div class="row">
			<aside class="col-sm-6">
				<div class="card">
					<article class="card-body">

						<h4 class="card-title text-center mb-4 mt-1">Conectate</h4>
						<hr>

						<div th:if=${param.error} class="alert alert-danger text-center">Usuario o password invalidos
						</div>
						
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<label for="username" class="input-group-text"> Usu </label>
									</div>
									<input id="username" name="username" class="form-control" placeholder="login"
										type="text">
								</div> <!-- input-group.// -->
							</div> <!-- form-group// -->
							<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<label class="input-group-text" for="password"> Pass </label>
									</div>
									<input id="password" name="password" class="form-control" placeholder="******"
										type="password">
								</div> <!-- input-group.// -->
							</div> <!-- form-group// -->
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block"> Login </button>
							</div> <!-- form-group// -->
							<div class="form-group">
								<p class="text-center"><a href="/forgot.html" class="btn">¿Contraseña olvidada?</a></p>
								<p class="text-center"><a class="btn" th:href="@{/registro}">Registrate</a></p>
							</div>
						</form>
					</article>
				</div> <!-- card.// -->
			</aside>
		</div>
	</div>


</body>

</html>