<!DOCTYPE html>
<html lang="en">

<head th:insert="librerias::librerias">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Productos</title>

</head>

<body id="page-top">
	<!-- top -->
	<!-- top -->
	<!-- top -->
	<div th:insert="top::top"></div>
	<div class="container">


		<div class="m-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">
							<i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
						</a>
					</li>
					<li class="breadcrumb-item">Productos</li>
				</ol>
			</nav>
		</div>

		<table class="table  table-hover">
			<thead class="table-dark bg-info text-white  ">
				<tr>
					<th scope="col"> Id </th>
					<th scope="col"> Nombre </th>
					<th scope="col"> Precio</th>
					<th scope="col"> Stock</th>
					<th scope="col"> Caracteristicas</th>
					<th scope="col"> Editar </th>
					<th scope="col"> Borrar </th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${productos.empty}">
					<td colspan="7"> No hay productos</td>
				</tr>
				<tr th:each="producto : ${productos}">

					<td>
<!--						<a class="btn btn-primary btn-sm" th:href="@{/productos/{id}(id=${producto.id})}">-->
							<span class="btn btn-primary btn-sm" th:text="${producto.id}">ID productos</span>
<!--						</a>-->
					</td>
					<td>
						<span th:text="${producto.nombre}">Nombre productos</span>
					</td>
					<td>
						<span th:text="${producto.precio}+€">Precio productos</span>
					</td>
					<td>
						<span th:text="${producto.stock}">Stock productos</span>
					</td>
					<td>
						<span th:text="${producto.caracteristicas}">Caracteristicas productos</span>
					</td>
					<td>
						<a class="btn btn-primary btn-sm btn-sm text-white pointer" style="cursor:pointer"
							data-toggle="modal" data-target="#modal-edit"
							th:attr="data-target='#modal-edit'+${producto.id}">
							<i class="fa-solid fa-pen"></i>
						</a>
					</td>
					<td>
						<a class="btn btn-danger btn-sm text-white pointer" style="cursor:pointer" data-toggle="modal"
							data-target="#modal-delete" th:attr="data-target='#modal-delete'+${producto.id}">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>


					<!-- edit modal-->
					<div class="modal fade" th:id="modal-edit+${producto.id}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="exampleModalLabel">Editar</h4>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true"><i class="fa-solid fa-x"></i></span>
									</button>
								</div>
								<div class="modal-body">
									<p class="error-text">Introduce parametros nuevos del producto:
										<strong><span th:text="${producto.nombre}"></span></strong>
									</p>


									<!-- Formulario edit-->
									<form action="#" th:action="@{/productos/edit/{idPro}(id=${producto.id})}"
										th:object="${productoaEditar}" method="post">
										<div class="form-row">
											<div class="form-group  mt-1">
												<div class="input-group mb-3">
													<span class="input-group-text">Nombre</span>
													<input type="text" th:field="*{nombre}" class="form-control"
														id="exampleInputEmail1"
														th:attr="placeholder=${producto.nombre}" />
												</div>
												<div class="input-group mb-3">
													<span class="input-group-text">Precio</span>
													<input type="number" th:field="*{precio}" class="form-control"
														id="exampleInputEmail1" th:attr="placeholder=${producto.precio}" step="0.01" min="0.01"
														 />
												</div>
												<div class="input-group mb-3">
													<span class="input-group-text">Stock</span>
													<input type="number" th:field="*{stock}" class="form-control"
														id="exampleInputEmail1" th:attr="placeholder=${producto.stock}"
														min="0" step="1"/>
												</div>
												<div class="input-group mb-3">
													<span class="input-group-text">Caracteristicas</span>
													<textarea th:field="*{caracteristicas}" class="form-control"
														th:attr="placeholder=${producto.caracteristicas}"
														maxlength="255" rows="10" />
												</div>
											</div>
										</div>



								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">
										Cancelar
									</button>
									<input type="submit" value="Editar" class="btn btn-primary float-right">

								</div>
								</form>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!--end edit modal-->

					<!--delete modal-->
					<div class="modal fade" th:id="modal-delete+${producto.id}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="exampleModalLabel">Borrar</h4>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true"><i class="fa-solid fa-x"></i></span>
									</button>
								</div>
								<div class="modal-body">
									<p class="error-text"><strong>¿Seguro que deseas borrar a
											<span th:text="${producto.nombre}"></span>?</strong></p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">
										Cancelar
									</button>
									<a th:href="@{/productos/delete/{id}(id=${producto.id})}">
										<span class="btn btn-danger btn-sm" value="delete">Borrar</span></a>

								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!--end delete modal-->



				</tr>
			</tbody>
		</table>


		<div class="col-2 float-right">
			<div class="p-5">
				<button type="button" class="btn btn-primary float-right" data-toggle="modal"
					data-target="#crearMensaje">
					<i class="fa-solid fa-plus"></i>
				</button>

			</div>
		</div>

		<!-- Añadir carpeta modal -->
		<div class="modal fade" id="crearMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="exampleModalLabel">Nuevo Producto</h4>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="fa-solid fa-x"></i></span>
						</button>
					</div>

					<form action="#" th:action="@{/productos/add}" th:object="${nuevoProducto}" method="post"
						class="was-validated">
						<div class="modal-body">
							<div class="form-row">
								<div class="form-group  mt-4">
									<div class="input-group mb-3">
										<span class="input-group-text">Nombre</span>
										<input type="text" th:field="*{nombre}" class="form-control"
											placeholder="Nombre" required />
										<div class="invalid-feedback">
											Falta nombre del producto.
										</div>
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text">Caracteristicas</span>
										<textarea th:field="*{caracteristicas}" class="form-control"
											placeholder="Caracteristicas" maxlength="255" rows="10" required />
										<div class="invalid-feedback">
											Faltan las caracteristicas del producto.
										</div>
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text">Precio</span>
										<input type="number" th:field="*{precio}" class="form-control" min=0.01
											placeholder="0.01" step="0.01" />
										<div class="invalid-feedback">
											Falta precio del producto.
										</div>
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text">Stock</span>
										<input type="number" th:field="*{stock}" class="form-control" placeholder="0"
											min="0" required />
										<div class="invalid-feedback">
											Falta stock del producto.
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<input type="submit" value="Añadir" class="btn btn-primary float-right">
							<button data-dismiss="modal"
								class="btn btn-outline-danger float-right mr-2">Cancelar</button>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
</body>


</html>