<!DOCTYPE html>
<html lang="en">

<head th:insert="librerias::librerias">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Tienda</title>

</head>

<body id="page-top">
	<!-- top -->
	<!-- top -->
	<!-- top -->
	<div th:insert="top::top"></div>
	<div class="container">


		<div class="m-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">
							<i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
						</a>
					</li>
					<li class="breadcrumb-item">Tienda</li>
				</ol>
			</nav>
		</div>
		<div class="album py-5 bg-light">

			<div class="container">

				<div class="row ">
					<div th:if="${productos.empty}" class="alert alert-danger text-center">La tienda no esta disponible
						en estos momentos.</div>
						<div th:if=${param.error} class="alert alert-danger text-center">Error al comprar producto
						</div>
						<div th:if=${param.exito}>
						<p class="text-success text-center">Se ha creado pedido del producto</p>
						</div>
					<div class="col-md-4 " th:each="producto : ${productos}">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="https://dummyimage.com/600x400/8f8f8f/ffffff.png"
								alt="Card image Usuarios">
							<div class="card-body">
								<p class="card-text"><strong th:text="${producto.nombre}">Nombre Producto</strong> -
									<strong th:text="${producto.precio}+€" class="text-primary">Precio</strong>
								</p>
								<p class="card-text" th:text="${producto.caracteristicas}">Caracteristicas</p>

								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a class="btn btn-primary btn-sm text-white pointer" style="cursor:pointer"
											data-toggle="modal" data-target="#modal-edit"
											th:attr="data-target='#modal-edit'+${producto.id}">
											Comprar
										</a>
										<!--<button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
											th:attr="data-bs-target='#modal-edit+${producto.id}'">Comprar</button>-->
									</div>
								</div>
							</div>
						</div>
						<!-- VENTANA MODAL -->
						<div class="modal fade" th:id="modal-edit+${producto.id}">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="exampleModalLabel"><i
												class="fa-solid fa-basket-shopping"></i> Cesta</h4>
										<button class="close" type="button" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true"><i class="fa-solid fa-x"></i></span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-4">
												<img class="img-fluid" src="https://dummyimage.com/600x400/8f8f8f/ffffff.png" alt="Imagen del producto">
											</div>
											<div class="col-md-8">
												<h4 th:text="${producto.nombre}"></h4>
												<p th:text="${producto.precio}+€"></p>
												<p th:text=${producto.caracteristicas}></p>
											</div>
										</div>
										<hr>
										<form th:action="@{/tienda/addPedido/{id}(id=${producto.id})}" method="post" th:object="${undProPed}">
											<div class="input-group mb-3">
												<span class="input-group-text" for="cantidad">Cantidad:</span>
												<input type="number" class="form-control" id="cantidad" th:field="*{cantidad}"
													value="1" min="1" th:attr="max=${producto.stock}" required>
											</div>
											<input type="submit" class="btn btn-primary" value="Comprar">
										</form>
									</div>
									</form>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
</body>


</html>