<!DOCTYPE html>
<html lang="en">

<head th:insert="librerias::librerias">head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Usuario</title>



</head>
<script>
$(document).ready(function(){
	$("#editAjax").submit(function(event){
		console.log("Hi");
		event.preventDefault;
		fire_ajax_submit();
	});
});

function fire_ajax_submit(){
	var alumnoDTO = {};
	alumnoDTO["nombre"] = $("#nombreAjax").val;
	alumnoDTO["id"]= $("idAjax").text();
	
	console.log(alumnoDTO);
	
	$("#editAjax").prop("disable",true);
	console.log(JSON.stringify(alumnoDTO));
	
	//peticion asincrona
	$.ajax({
		type: "POST",
		contentType: "application/json",
		url: "/alumnos/guardarAjax", //acceder a metoo del controlador
		data: JSON.stringify(alumnoDTO),
		datatype: 'json',
		cache: false,
		timeout: 10000,
		success: function(data){
			var json = "<h5>Respuesta Ajax</h5><br>"+JSON.stringify(data,null,4);
			$("#respuestaAjax").html(json);	
		},
		error: function(e){
			console.log("ERROR: ", e);
		}
	});
};
</script>

<body id="page-top">
	<!-- top -->
	<!-- top -->
	<!-- top -->
	<div th:insert="top::top"></div>
	<div class="container">

		<!-- top -->
		<!-- top -->

		<div class="m-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">
							<i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
						</a>
					</li>
					<li class="breadcrumb-item"><a href="/usuarios">Usuarios</a></li>
					<li class="breadcrumb-item active" aria-current="page">Perfil de Usuario</li>
				</ol>
			</nav>
		</div>


		<!-- Header -->
		<header class="masthead">


			<div class="row pl-5 pr-5">
				<div class="col-9">

					<h5>Ficha de usuario</h5>
					<div class="card border border-primary" th:object="${usuario}">

						<div class="card-body row pt-4 pb-4">
							<div class="col-7">
								<div class="card">
									<div class="card-header text-dark bg-light"><i class="fa-solid fa-id-card"></i>&nbsp;Perfil</div>
									<div class="card-body">
										<div class="mb-2 card">
											<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">Nombre de Usuario</h6>
											<h5 th:text="*{username}" class="card-text mb-2">With supporting text below as
												a natural lead-in to additional content.</h5>
											</div>
										</div>
										<div class="mb-2 card">
											<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">Nombre y Apellidos</h6>
											<h5 th:text="*{nombreApellidos}" class="card-text mb-2">With supporting text
												below as
												a natural lead-in to additional content.</h5>
											</div>
										</div>
										<div class="mb-2 card">
											<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">Direccion</h6>
											<h5 th:text="*{direccion}" class="card-text mb-2">With supporting text below
												as
												a natural lead-in to additional content.</h5>
											</div>
										</div>
										<div class="mb-2 card">
											<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">Correo Electronico</h6>
											<h5 th:text="*{email}" class="card-text mb-2">With supporting text below as
												a natural lead-in to additional content.</h5>
											</div>
										</div>

										<p><a th:href="@{/usuarios}" class="btn btn-primary mt-3">Cerrar</a></p>
									</div>
								</div>
							</div>
							<div class="col-5">
								<div class="card">
									<div class="card-header text-dark bg-light"><i class="fa-solid fa-basket-shopping"></i>
										</svg>&nbsp;Pedidos</div>
									<div class="card-body">

										<span th:each="pedido : ${usuario.pedidos}">
											<div class="mb-2 card">
											<div class="card-body">
												<a th:text="${pedido.id}" class="btn btn-primary"
													th:href="@{/pedidos/{id}(id=${pedido.id})}"> </a>
												<span th:text="${pedido.precioTotal}+€" class="btn btn-secondary" />
												<span th:if="${pedido.entregado == true}"
													class="btn btn-success">Entregado</span>
												<span th:if="${pedido.entregado == false}" class="btn btn-warning">En
													Reparto</span>
											</div>
											</div>
										</span>
									</div>
									<div class="card-body">
										div
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</header>
	</div>
</body>


</html>